json code for Node-Red Integration flow.json
[{"id":"68eca79f.4e6558","type":"tab","label":"Auto AI Flow","disabled":false,"info":"To predict the life expectancy using Auto AI"},{"id":"95331029.7ab32","type":"function","z":"68eca79f.4e6558","name":"PreToken","func":"global.set(\"co\",msg.payload.co)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"inf\",msg.payload.inf)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"he\",msg.payload.he)\nglobal.set(\"me\",msg.payload.me)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"un\",msg.payload.un)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"to\",msg.payload.to)\nglobal.set(\"di\",msg.payload.di)\nglobal.set(\"hi\",msg.payload.hi)\nglobal.set(\"gd\",msg.payload.gd)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"th\",msg.payload.th)\nglobal.set(\"thi\",msg.payload.thi)\nglobal.set(\"inc\",msg.payload.inc)\nglobal.set(\"sc\",msg.payload.sc)\nvar apikey=\"HhZ6fqQyieEYMrZMg_ssjC98sfAuKSX475rTjF323I6w\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":40,"wires":[["ee8dae26.b641"]]},{"id":"ee8dae26.b641","type":"http request","z":"68eca79f.4e6558","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":140,"wires":[["b10578f6.d9d108"]]},{"id":"24cdd8bf.c1e8c8","type":"inject","z":"68eca79f.4e6558","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["95331029.7ab32"]]},{"id":"b10578f6.d9d108","type":"function","z":"68eca79f.4e6558","name":"Pre Prediction","func":"var co = global.get('co')\nvar ye = global.get('ye')\nvar st = global.get('st')\nvar ad = global.get('ad')\nvar inf = global.get('inf')\nvar al = global.get('al')\nvar pe = global.get('pe')\nvar he = global.get('he')\nvar me = global.get('me')\nvar bm = global.get('bm')\nvar un = global.get('un')\nvar po = global.get('po')\nvar to = global.get('to')\nvar di = global.get('di')\nvar hi = global.get('hi')\nvar gd = global.get('gd')\nvar pop = global.get('pop')\nvar th = global.get('th')\nvar thi = global.get('thi')\nvar inc = global.get('inc')\nvar sc = global.get('sc')\nvar token=msg.payload.access_token\nvar instance_id=\"9ac6a7f2-7bb8-4104-a6c4-e2575a3b97d0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"co\", \"ye\", \"st\", \"ad\", \"inf\", \"al\", \"pe\", \"he\", \"me\", \"bm\", \"un\", \"po\", \"to\", \"di\", \"hi\", \"gd\", \"pop\", \" th\", \" thi\", \"inc\", \"sc\"], \"values\": [[co,ye,st,ad,inf,al,pe,he,me,bm,un,po,to,di,hi,gd,pop,th,thi,inc,sc]]}]};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["58ad159b.73511c"]]},{"id":"58ad159b.73511c","type":"http request","z":"68eca79f.4e6558","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/565c0589-a45a-4c28-b88d-0a1463aac1cd/predictions","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":200,"wires":[["efe93ca3.50662"]]},{"id":"855044da.6b6a98","type":"ui_form","z":"68eca79f.4e6558","name":"","label":"","group":"167f40a0.e05aef","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"co","type":"text","required":true,"rows":null},{"label":"Year","value":"ye","type":"number","required":false,"rows":null},{"label":"Status","value":"st","type":"text","required":false,"rows":null},{"label":"Adult Mortality","value":"ad","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"inf","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"he","type":"number","required":false,"rows":null},{"label":"Measles","value":"me","type":"number","required":false,"rows":null},{"label":"BMI","value":"bm","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"un","type":"number","required":false,"rows":null},{"label":"Polio","value":"po","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"to","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"di","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"hi","type":"number","required":false,"rows":null},{"label":"GDP","value":"gd","type":"number","required":false,"rows":null},{"label":"Population","value":"pop","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"th","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"thi","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"inc","type":"number","required":false,"rows":null},{"label":"Schooling","value":"sc","type":"number","required":false,"rows":null}],"formValue":{"co":"","ye":"","st":"","ad":"","inf":"","al":"","pe":"","he":"","me":"","bm":"","un":"","po":"","to":"","di":"","hi":"","gd":"","pop":"","th":"","thi":"","inc":"","sc":""},"payload":"","submit":"PREDICT","cancel":"CANCEL","topic":"","x":110,"y":320,"wires":[["95331029.7ab32"]]},{"id":"f68bf256.f70fa","type":"debug","z":"68eca79f.4e6558","name":"Value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":180,"wires":[]},{"id":"48c2b676.e9af98","type":"ui_text","z":"68eca79f.4e6558","group":"167f40a0.e05aef","order":1,"width":0,"height":0,"name":"","label":"Predicted value : ","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":460,"wires":[]},{"id":"efe93ca3.50662","type":"function","z":"68eca79f.4e6558","name":"","func":"msg.payload= msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["48c2b676.e9af98","f68bf256.f70fa"]]},{"id":"167f40a0.e05aef","type":"ui_group","z":"","name":"Predicting Life Expectancy","tab":"cb8c7fbd.7d2bb","order":1,"disp":true,"width":"6","collapse":false},{"id":"cb8c7fbd.7d2bb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]